<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Featured ART Museums</h1>
        <p>View art museums from all over the world</p>       
        <p>
            <form action="/art_museum/museums" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search art museums..." class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
        </p>  
        <p>
            <a class="btn btn-lg btn-info" href="/art_museum/museums/new">Add Your Fav Art Museum</a>
        </p>   
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% museums.forEach(function(museum) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= museum.image %>">
                <div class="caption">
                     <h4><%= museum.name %></h4>
                </div>
                <p>
                    <a href="/art_museum/museums/<%=museum._id %>" class="btn btn-light">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>